html {
    --primary-color: #CC2828;
    --primary-dark-color: #7C3633;
    --primary-light-color: #E57670;
}

html.dark-mode {
    color-scheme: dark;

    --primary-color: #E22D2D;
    --primary-dark-color: #DD5854;
    --primary-light-color: #A84946;
}

.github-corner svg {
    fill: var(--primary-light-color);
    color: var(--page-background-color);
    width: 72px;
    height: 72px;
}

@media screen and (max-width: 767px) {
    .github-corner svg {
        width: 50px;
        height: 50px;
    }
    #projectnumber {
        margin-right: 22px;
    }
}